/* =========================STYLES FOR WHITE CARD===================== */

.card-white,
.card-purple {
  background-color: #ffff;
  margin: 20px;
  text-align: center;
  padding: 30px 30px;
  border-radius: 7px;
}

.card-white-content,
.card-purple-content {
  color: hsl(233, 13%, 49%);
  font-size: 12px;
  border-bottom: 2px solid hsl(240, 13%, 95%);
  padding: 15px 0;
}

.card-white-content-top {
  color: hsl(233, 13%, 49%);
  font-size: 18px;
}

.card-white-content-dollar,
.card-purple-content-dollar {
  border-bottom: 2px solid hsl(240, 13%, 95%);
  padding: 20px 0;
}

.dollar-sign {
  font-size: 32px;
  vertical-align: middle;
}

.card-white-content-dollar,
.card-purple-content-dollar {
  color: hsl(232, 13%, 33%);
  font-size: 60px;
  border-bottom: 2px solid hsl(240, 13%, 95%);
}

/* =========================STYLES FOR PURPLE CARD===================== */

.card-purple {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

.card-purple-content,
.card-purple-content-top,
.card-purple-content-dollar {
  color: hsl(240, 78%, 98%);
}


.card-purple-content-dollar,
.card-purple-content {
  border-bottom: 1.7px solid hsl(240, 18%, 75%);
}



