
.btnPurple {
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    border-radius: 6px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%)  , hsl(237, 63%, 64%));
    margin-top: 30px;
    text-transform: uppercase;
    color: hsl(240, 78%, 98%);
    letter-spacing: 1px;
    font-size: 12px;
}
